<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agregar Cliente</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="btn btn-primary" href="{% url 'recarga' %}">RECARGA DE AGUA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'productos' %}">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container" style="text-align: center;">
            <h2 class="text-center">Formulario CRUD para clientes</h2><br>
            <form action="{% url 'clientesAdd' %}" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" class="form-control">
                </div>

                <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input type="text" name="apellido" class="form-control">
                </div>

                <div class="form-group">
                    <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                    <input type="date" name="fecha_nacimiento" class="form-control">
                </div>

                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input type="text" name="telefono" class="form-control">
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" name="email" class="form-control">
                </div>

                <div class="form-group">
                    <label for="direccion">Dirección:</label>
                    <input type="text" name="direccion" class="form-control">
                </div>
                <br><br>
                <div class="text-center">
                    <input type="submit" name="opcion" value="Agregar" class="btn btn-primary">
                </div>
            </form><br>
            <div class="text-center">
                <button type="button" class="btn btn-danger">
                    <a href="{% url 'crud' %}" class="text-decoration-none text-white">Volver</a>
                </button>
            </div>
            <br><br>
            <div id="idMensajes" class="alert text-center">
                {% if mensaje %}
                    {{ mensaje }}
                {% endif %}
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>
                $(document).ready(function(){
                    $("#idMensajes").delay(2000).fadeOut("slow");
                });
        </script>
        <script src="{% static 'cliente/js/scripts.js' %}" defer></script>

    </body>
</html>
